#error{
    background-color: pink;
    padding-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: none;
    border-radius: 5px;
}
#resultat{
    background-color:green;
    padding-top: 5px;
    color:white;
    display: none;
    border-radius: 5px;

}